body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-right {
  position: absolute;
  right: 0;
}

.input-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  margin: 5px;
  padding: 10px;
}

.ordersList {
  text-align: center;
}